@model List<Datos.DBConexion.LogMantenimiento_Tabla>

<h1>Tabla de historial de mantenimientos</h1>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin: 15px;
        border-radius: 8px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

</style>


<table>
    <thead>
        <tr>
            <th>Log ID</th>
            <th>Usuario</th>
            <th>Descripcion</th>
            <th>Fecha</th>
            <!-- Add more columns as needed -->
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Id_Tabla</td>
                <td>@log.Id_Usuario</td>
                <td>@log.Descripcion</td>
                <td>@log.Fecha</td>
                <!-- Add more columns as needed -->
            </tr>
        }
    </tbody>
</table>
