
@{
    ViewBag.Title = "signup";
}

<h2>signup</h2>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  align-items: center;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  border-radius: 6px;
  align-content: center;
 
}

button:hover {
  opacity: 0.5;
}

.cancelbtn {
  width: 15%;
  padding: 10px 18px;
  background-color: #f44336;
  border-radius: 6px;
  align-items: center;

}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  align-content: center;
}

.input-container{
    display:flex;
}

    .inline-input-text {
        flex:0.5;
        margin-right: 10px;
    }

    .inline-text {
       
        margin-right: 2px;
        margin-left: 5px;
    }

 span.psw {
        float: right;
        padding-top: 16px;
    }

/* Change styles for span and cancel button on extra small screens */
@*@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }*@


</style>

<form action="/Seguridad/Verificar_Usuario" method="post">
    <div class="imgcontainer">
        <img src="https://www.flaticon.com/free-icon/person_2815428" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label class="inline-text" for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <div class="input-container">
            <label class="inline-text" for="psw"><b>Password</b></label>
            <input class="inline-input-text" type="password" placeholder="Enter Password" name="psw" required>
            <label class="inline-text" for="psw2"><b>Confirm password</b></label>
            <input class="inline-input-text" type="password" placeholder="Confirm Password" name="psw2" required>
        </div>
        <label for="user">Tipo de usuario:</label>
        <select name="user" id="user">
            <option value="1">Dueño de motel</option>
            <option value="2">Cliente</option>            
        </select>

        <button type="submit">Enter</button>

    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Ya estas registrado? <a href="https://localhost:44348/Seguridad/Login">Inicia secion</a></span>
    </div>
</form>